{% extends 'base_signup.html' %}
{% load bootstrap3 %}

{% block title %}Sign Up{% endblock %}
{% block heading %}Scooper Sign Up{% endblock %}

{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% bootstrap_form user_form %}
    {% bootstrap_form scooper_form %}
    <button type="submit" class="btn btn-green btn-login btn-block">Sign Up</button>
  </form>
  <a href="{% url 'scooper-sign-in' %}" class="link-switch">Already a member? Sign In</a>
{% endblock %}
